#Riot API Key
RIOT_API_KEY=RiotApiKeyHere

#Database Configuration
DB_NAME=RiotDBNameHere
DB_USER=postgres # Default Postgres User change if there is a different one
DB_PASSWORD=RiotDBPasswordHere # Change to your db passwork
DB_HOST=localhost # Change to ip address if database is hosted elsewhere
DB_PORT=5432 # Default Postgres Port change if different